body {
	font-family: sans-serif, Verdana, Tahoma,"Trebuchet MS";
	font-size: 11pt;
	background-color: #eeeeee
}

table {
	font-size: 11pt;
}

input[type=text] {
	font-family: sans-serif;
	font-size: 11pt;
	border-radius: 3px;	
	border: solid 1px #0050a0;
	padding-top: 3px; padding-bottom: 3px;
	padding-left: 5px; padding-right: 5px;
	color: #0050a0;
	
}

input[type=text][disabled] {
	border-color: #aaaaaa;
	background-color: white;
	color: gray;
}

button {
    color: #0050a0;
    background-color: white;
    cursor: hand;
    border: 1px solid gray;    
    padding-top: 4px; 
    padding-bottom: 4px;
    padding-left: 12px; 
    padding-right: 10px; 
    border-radius: 3px;	
}

button:hover {
	border-color: black;
	border-bottom-color: black;
	background-color: #efefef;
}

a, a:ACTIVE, a:VISITED {
	color: #0050a0;
	text-decoration: none;
}

textarea {
	font-family: sans-serif, Verdana, Tahoma;
	font-size: 11pt;	
}
