#divHeader h1
{
	font-size: 22pt;
	font-weight: normal;
	text-align: left;
	margin-bottom: 0px;
	color: #0050a0;
	font-family: Tahoma
}

#divHeader h2
{
	font-size: 15pt;
	font-weight: normal;
	text-align: left;
	margin-bottom: 0px;
	color: black;
}

#divHeader table
{
	width: 100%;
}

