
/*
#divBody h1
{
	font-size: 12pt;
	font-weight: normal;
	text-align: left;
	margin-bottom: 0px;
	color: black;
	font-family: Tahoma;
	
}

#divBody h2
{
	font-size: 15pt;
	font-weight: normal;
	text-align: left;
	margin-bottom: 0px;
	color: black;
}

*/