#divContainer
{
	margin: auto;
	width: 1300px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	background-color: white;
	padding-left: 10px; padding-right: 10px;
}

#divHeader
{
	/* height: 60px; */
	/* border-bottom: solid 2px #0050a0; */
	border-bottom: solid 2px black;
	padding-top: 10px;
	padding-bottom: 8px;
}

#divFooter
{
	clear: both;
    height : 30px;
    text-align: center;
    font-size: 11pt;
    color: #454545;
    padding-top: 8px;
    border-top: 1px solid #aaaaaa;
}

#divMenu
{
	float: left;
	width: 200px;
	min-height: 650px;
	padding-left: 30px;
	padding-top: 10px;
}

#divBody
{
	float: right;
	width: 1032px;
	min-height: 650px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	border-left: 1px solid #aaaaaa;
	margin-top: 10px;
	margin-bottom: 10px;
}



#divFootnote
{
    text-align: center;
    font-size: 10pt;
    color: #707070;
}




