#divContainer
{
	margin: auto;
	width: 1300px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	background-color: white;
	padding-left: 10px; padding-right: 10px;
}

#divFootnote
{
	margin: auto;
	margin-top: 4px;	
    text-align: center;
    font-size: 10pt;
    color: #707070;
}

#divHeader
{
	border-bottom: solid 2px black;
	padding-top: 10px;
	padding-bottom: 8px;
}

#divFooter
{
	clear: both;
    height : 27px;
    text-align: center;
    font-size: 11pt;
    color: #454545;
    padding-top: 9px;
    margin-top: 10px;
    border-top: 1px solid #aaaaaa;
}

#divMenu
{
	float: left;
	width: 200px;
	padding-left: 25px;
	padding-top: 30px;
}

#divBody
{
	float: right;
	width: 1032px;
	min-height: 650px;
	padding-left: 15px;
	padding-right: 5px;
	border-left: 3px double #aaaaaa;
	margin-top: 10px;
	margin-bottom: 10px;
}








