#divFilter 
{
	border: solid 1px silver;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

#divFilter td 
{
	padding: 3px;	
} 

#divTitle 
{
	margin-bottom: 10px;	
	border-bottom: 3px double silver;
	padding-bottom: 5px;
}

#divTitle table 
{
	width: 100%;
	font-size: 16pt;
	color: #0050a0;	
}

#divToolbar 
{
	margin-bottom: 10px;	
	border-bottom: 1px solid silver;
	padding-bottom: 10px;
}

.divList
{
	margin-bottom: 10px;	
	font-family: sans-serif;	
} 

.divList table
{
	width: 100%;	
} 

.divList td
{
	border-bottom: 1px solid silver;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3px;	
} 

.divList th
{
	border-bottom: 3px double silver;
	font-weight: normal;
	font-size: 13pt;	
	padding-bottom: 5px;
	padding-left: 3px;	
	/* background-color: #eaeaea; */	
} 
