#divToolbar 
{
	margin-top: 10px;	
	height: 45px;
	/* border: solid 1px black; */
}

#divFilter 
{
	border: solid 1px silver;
	border-radius: 5px;
	padding: 5px;
	background-color: #f8f8f8; 
}

#divFilter td 
{
	padding: 3px;	
} 

#divTitle 
{
	border-bottom: 1px solid silver;
	padding-bottom: 3px;
}

#divTitle table 
{
	width: 100%;
	font-size: 16pt;
	color: gray;	
}

.divList
{
	/* border: solid 1px black; */
	margin-top: 12px;	
	font-family: sans-serif;	
} 

.divList table
{
	width: 100%;	
	border-collapse: collapse; 
} 

.divList td
{
	border-bottom: 1px solid silver;	
	padding-top: 4px;
	padding-bottom: 0px;
	padding-left: 3px;	
} 

.divList th
{
	border-bottom: 3px double silver;
	font-weight: normal;
	font-size: 13pt;	
	padding-bottom: 5px;
	padding-left: 3px;	
	/* background-color: #eaeaea; */	
} 
